.intro-content {
  display: grid;
  top: -8rem;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.intro-img img {
  max-width: 100%;
  min-height: auto;

}

.top3-content {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

}

.grid-one-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;

}


.grid-main-heading {
  margin-bottom: 1rem;

}

.grid-descript {
  padding-bottom: 5rem;

}

.grid-pilares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid-pilares h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 3rem;

}

.grid-pilares h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  font-size: 6rem;
  font-style: italic;
  position: absolute;
  top: -3rem;
  left: -2rem;
  transform: rotate(5deg);

}


.gallery-img {

  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {

  transition: all 300ms ease-in-out;

}

.gallery-img img:hover {

  transform: translate(-3%, 3%) scale(1.2);

}